body{
    background-image: url('../images/background.jpg');
}
#navbar{
    overflow: hidden;
    background-color: brown;
}

#navbar a{
    float: left;
    color: goldenrod;
    text-align: center;
    padding-right: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    font-size: 30px;
}

#navbar a:hover{
    background-color:black;
    color: goldenrod; 
}

.title{
margin: auto;
width: 50%;    
}

.headline{
    text-align: center;
    background-color: brown;
    border-radius: 40px;
    margin-top: 60px;
    padding: 10px;
    color:goldenrod;
}

#registerlogin{
    float: right;
}